@import "tailwindcss";

:root {
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.text-green {
  color: rgba(75, 192, 192, 0.6);
}

.green-card {
  background-color: rgba(75, 192, 192, 0.6);
  border-color: rgba(75, 192, 192, 1);
  border-width: 1;
}

.hover\:green-card:hover {
  background-color: rgba(75, 192, 192, 0.6);
  border-color: rgba(75, 192, 192, 1);
  border-width: 1;
}

.bg-brown-50 {
  background-color: #f5f7f8;
}

.bg-brown-100 {
  background-color: #e4ebed;
}

.bg-brown-200 {
  background-color: #c9d7db;
}

.bg-brown-300 {
  background-color: #a6bcc4;
}

.bg-brown-400 {
  background-color: #7d9da9;
}

.bg-brown-500 {
  background-color: #213547;
}

.bg-brown-600 {
  background-color: #1d2f3f;
}

.bg-brown-700 {
  background-color: #172635;
}

.bg-brown-800 {
  background-color: #111c27;
}

.bg-brown-900 {
  background-color: #0b121a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
